:root {
    --background-dark: #111111;
    --shadow-light: rgba(0, 255, 255, 0.15);
    --shadow-strong: rgba(0, 255, 255, 0.3);
    --primary-color: #ff002b;
    --primary-hover: #00B2CC;
    --text-dark: #000000;
    --text-light: #EEEEEE;
    --danger-color: #f700ff;
}

/* Reset y estilos base optimizados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}